// IMPORTS
@import './includes/_config.sass'
@import './includes/_mixins.sass'

// RESET / GLOBAL
*, *:before, *:after
  -webkit-box-sizing: inherit
  -moz-box-sizing: inherit
  box-sizing: inherit
html
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
body
  margin: 0
  padding: 0
  font-family: 'Open Sans'
  background: $blue
  background: linear-gradient(90deg, $blue 0%, $purple 100%)
  overflow-x: hidden
h1, h2, h3, h4, h5, h6
  font-weight: 600
  margin: 0
  margin-bottom: 20px
  color: $blue
button
  &:hover
    cursor: pointer
main
  padding: 0
  padding-top: 0
  position: relative
  display: grid
  grid-template-areas: 'main'

// COMPONENTS
@import './components/_app.sass'
@import './components/_control.sass'
@import './components/_dev.sass'
@import './components/_panel.sass'
@import './components/_progress.sass'
@import './components/_spinner.sass'
