//////////////////////////////////////////////
// Fonts
//////////////////////////////////////////////

// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap')
// Space Mono
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap')
// Raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap')


//////////////////////////////////////////////
// Colors
//////////////////////////////////////////////

$purple: #69179d
$blue: #3b25ae
$pink: #ec1ca8
$green: #1fd072


//////////////////////////////////////////////
// Grid and Spacing...
//////////////////////////////////////////////
